@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

input {
  color: black;
}

.rs-sidenav-item,
.rs-dropdown-item {
  color: white !important;
  border-radius: 10px;
}

.rs-sidenav-item:hover,
.rs-dropdown-item:hover {
  background-color: transparent !important;
}


